data/meth_extract/cov_files/TS_1_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_2_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_1_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_2_val_1_bismark_bt2_pe.bismark.cov.gz
