data/meth_extract/cov_files/TS_1_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_2_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_1_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_2_val_1_bismark_bt2_pe.bismark.cov.gz
data/fastq/TS_3_R1.fastq.gz
data/fastq/TS_4_R1.fastq.gz
data/fastq/TS_5_R1.fastq.gz
data/fastq/TS_6_R1.fastq.gz
data/fastq/TS_7_R1.fastq.gz
data/fastq/TS_8_R1.fastq.gz
data/fastq/TS_9_R1.fastq.gz
data/fastq/TS_10_R1.fastq.gz
data/fastq/TS_11_R1.fastq.gz
data/fastq/TS_BAV_3_R1.fastq.gz
data/fastq/TS_BAV_4_R1.fastq.gz
data/fastq/TS_BAV_5_R1.fastq.gz
data/fastq/TS_BAV_6_R1.fastq.gz
data/fastq/TS_BAV_7_R1.fastq.gz
data/fastq/TS_BAV_8_R1.fastq.gz
data/fastq/TS_BAV_9_R1.fastq.gz
data/fastq/TS_BAV_10_R1.fastq.gz
data/fastq/TS_BAV_11_R1.fastq.gz
data/fastq/TS_BAV_12_R1.fastq.gz
data/fastq/TS_BAV_13_R1.fastq.gz
data/ide/cov_stats/TS_1_covstats.txt
data/ide/cov_stats/TS_2_covstats.txt
data/ide/cov_stats/TS_3_covstats.txt
data/ide/cov_stats/TS_4_covstats.txt
data/ide/cov_stats/TS_5_covstats.txt
data/ide/cov_stats/TS_6_covstats.txt
data/ide/cov_stats/TS_7_covstats.txt
data/ide/cov_stats/TS_8_covstats.txt
data/ide/cov_stats/TS_9_covstats.txt
data/ide/cov_stats/TS_10_covstats.txt
data/ide/cov_stats/TS_11_covstats.txt
data/ide/cov_stats/TS_BAV_1_covstats.txt
data/ide/cov_stats/TS_BAV_2_covstats.txt
data/ide/cov_stats/TS_BAV_3_covstats.txt
data/ide/cov_stats/TS_BAV_4_covstats.txt
data/ide/cov_stats/TS_BAV_5_covstats.txt
data/ide/cov_stats/TS_BAV_6_covstats.txt
data/ide/cov_stats/TS_BAV_7_covstats.txt
data/ide/cov_stats/TS_BAV_8_covstats.txt
data/ide/cov_stats/TS_BAV_9_covstats.txt
data/ide/cov_stats/TS_BAV_10_covstats.txt
data/ide/cov_stats/TS_BAV_11_covstats.txt
data/ide/cov_stats/TS_BAV_12_covstats.txt
data/ide/cov_stats/TS_BAV_13_covstats.txt
data/ide/cov_stats_plots/TS_1_covstats.pdf
data/ide/cov_stats_plots/TS_2_covstats.pdf
data/ide/cov_stats_plots/TS_3_covstats.pdf
data/ide/cov_stats_plots/TS_4_covstats.pdf
data/ide/cov_stats_plots/TS_5_covstats.pdf
data/ide/cov_stats_plots/TS_6_covstats.pdf
data/ide/cov_stats_plots/TS_7_covstats.pdf
data/ide/cov_stats_plots/TS_8_covstats.pdf
data/ide/cov_stats_plots/TS_9_covstats.pdf
data/ide/cov_stats_plots/TS_10_covstats.pdf
data/ide/cov_stats_plots/TS_11_covstats.pdf
data/ide/cov_stats_plots/TS_BAV_1_covstats.pdf
data/ide/cov_stats_plots/TS_BAV_2_covstats.pdf
data/ide/cov_stats_plots/TS_BAV_3_covstats.pdf
data/ide/cov_stats_plots/TS_BAV_4_covstats.pdf
data/ide/cov_stats_plots/TS_BAV_5_covstats.pdf
data/ide/cov_stats_plots/TS_BAV_6_covstats.pdf
data/ide/cov_stats_plots/TS_BAV_7_covstats.pdf
data/ide/cov_stats_plots/TS_BAV_8_covstats.pdf
data/ide/cov_stats_plots/TS_BAV_9_covstats.pdf
data/ide/cov_stats_plots/TS_BAV_10_covstats.pdf
data/ide/cov_stats_plots/TS_BAV_11_covstats.pdf
data/ide/cov_stats_plots/TS_BAV_12_covstats.pdf
data/ide/cov_stats_plots/TS_BAV_13_covstats.pdf
data/ide/merged_stats/correlation.txt
data/ide/merged_stats_plots/clusteringDendro.pdf
data/ide/merged_stats_plots/pcaScatter.pdf
data/ide/merged_stats_plots/pcaScree.pdf
data/ide/meth_stats/TS_1_methstats.txt
data/ide/meth_stats/TS_2_methstats.txt
data/ide/meth_stats/TS_3_methstats.txt
data/ide/meth_stats/TS_4_methstats.txt
data/ide/meth_stats/TS_5_methstats.txt
data/ide/meth_stats/TS_6_methstats.txt
data/ide/meth_stats/TS_7_methstats.txt
data/ide/meth_stats/TS_8_methstats.txt
data/ide/meth_stats/TS_9_methstats.txt
data/ide/meth_stats/TS_10_methstats.txt
data/ide/meth_stats/TS_11_methstats.txt
data/ide/meth_stats/TS_BAV_1_methstats.txt
data/ide/meth_stats/TS_BAV_2_methstats.txt
data/ide/meth_stats/TS_BAV_3_methstats.txt
data/ide/meth_stats/TS_BAV_4_methstats.txt
data/ide/meth_stats/TS_BAV_5_methstats.txt
data/ide/meth_stats/TS_BAV_6_methstats.txt
data/ide/meth_stats/TS_BAV_7_methstats.txt
data/ide/meth_stats/TS_BAV_8_methstats.txt
data/ide/meth_stats/TS_BAV_9_methstats.txt
data/ide/meth_stats/TS_BAV_10_methstats.txt
data/ide/meth_stats/TS_BAV_11_methstats.txt
data/ide/meth_stats/TS_BAV_12_methstats.txt
data/ide/meth_stats/TS_BAV_13_methstats.txt
data/ide/meth_stats_plots/TS_1_methstats.pdf
data/ide/meth_stats_plots/TS_2_methstats.pdf
data/ide/meth_stats_plots/TS_3_methstats.pdf
data/ide/meth_stats_plots/TS_4_methstats.pdf
data/ide/meth_stats_plots/TS_5_methstats.pdf
data/ide/meth_stats_plots/TS_6_methstats.pdf
data/ide/meth_stats_plots/TS_7_methstats.pdf
data/ide/meth_stats_plots/TS_8_methstats.pdf
data/ide/meth_stats_plots/TS_9_methstats.pdf
data/ide/meth_stats_plots/TS_10_methstats.pdf
data/ide/meth_stats_plots/TS_11_methstats.pdf
data/ide/meth_stats_plots/TS_BAV_1_methstats.pdf
data/ide/meth_stats_plots/TS_BAV_2_methstats.pdf
data/ide/meth_stats_plots/TS_BAV_3_methstats.pdf
data/ide/meth_stats_plots/TS_BAV_4_methstats.pdf
data/ide/meth_stats_plots/TS_BAV_5_methstats.pdf
data/ide/meth_stats_plots/TS_BAV_6_methstats.pdf
data/ide/meth_stats_plots/TS_BAV_7_methstats.pdf
data/ide/meth_stats_plots/TS_BAV_8_methstats.pdf
data/ide/meth_stats_plots/TS_BAV_9_methstats.pdf
data/ide/meth_stats_plots/TS_BAV_10_methstats.pdf
data/ide/meth_stats_plots/TS_BAV_11_methstats.pdf
data/ide/meth_stats_plots/TS_BAV_12_methstats.pdf
data/ide/meth_stats_plots/TS_BAV_13_methstats.pdf
data/meth_extract/cov_files/TS_3_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_4_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_5_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_6_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_7_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_8_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_9_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_10_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_11_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_3_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_4_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_5_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_6_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_7_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_8_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_9_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_10_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_11_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_12_val_1_bismark_bt2_pe.bismark.cov.gz
data/meth_extract/cov_files/TS_BAV_13_val_1_bismark_bt2_pe.bismark.cov.gz
